p{
  color:deeppink;
  border-style: dotted;
  border-color: steelblue;
}
h1{
  color:steelblue;
}
h2{
   color:steelblue;
}
h3{
   color:steelblue;
}
h4{
   color:steelblue;
}
h6{ color:steelblue;}
h5{ color:steelblue;}